/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

//////////////////////////////////
html {
  background-color: #d6eaf8;
}
body {
  background-color: #d6eaf8;
}

.body {
  font-family: "Roboto", arial, sans-serif;
  min-width: 200px;
  padding: 1em;
  background-color: #d6eaf8;
}

.wrapper {
  margin: 0 auto;
  display: grid;
  justify-items: center;
  background-color: white;
  padding: 1em;
  border-radius: 18px;
  gap: 1.2em;
  max-width: 400px;
  box-shadow: 1px 1px 7px 2px rgba(0, 0, 0, 0.55);
  -webkit-box-shadow: 1px 1px 7px 2px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 1px 1px 7px 2px rgba(0, 0, 0, 0.55);
}

img {
  border-radius: 9px;
}
.text-wrapper {
  text-align: center;
  padding: 1.2em;
}

.h2 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1em;
}

.h3 {
  font-size: 0.8em;
  color: #99a3a4;
}
